---
import Layout from "@/layouts/layout.astro";
import Header from "@/components/header.astro";
---

<Layout title="Welcome to Astro.">
    <Header />
    <main>
       
    </main>
</Layout>

<style lang="scss">
   
</style>
