---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/header.astro";
import Hero from "@/components/hero.astro";
import Service from "@/components/service.astro";
import Education from "@/components/education.astro";
import Work from "@/components/work.astro";
---

<Layout title="Welcome to Astro.">
    <Header />
    <main>
       <Hero/>
       <Service/>
       <Education/>
       <Work/>
    </main>
</Layout>

<style lang="scss">
   
</style>
