---
import { ModeToggle } from "@/components/mode-toggle";
---

<header>
    <div class="container header__container">
        <div class="logo">
            <div class="logo__box">Y</div>
            <div class="logo__text">Yash Bansod</div>
        </div>

        <div class="nav__container">
            <nav>
                <ul>
                    <li><a class="nav__link" href="#home">Home</a></li>
                    <li><a class="nav__link" href="#services">Services</a></li>
                    <li><a class="nav__link" href="#education">Education</a></li>
                    <li><a class="nav__link" href="#work">Work</a></li>
                </ul>
            </nav>

            <ModeToggle client:load/>

            <a class="nav__contact-button" href="#contact"> contact</a>
        </div>

        <div class="header__icon-container">
            <ModeToggle client:load/>

            <div id="menu_icon" class="icon menu__icon">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    style="fill: currentColor;transform: ;msFilter:;"
                    ><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg
                >
            </div>
        </div>

        <!-- mobile navbar  -->

        <div id="mobile_nav" class="mobile__navbar">
            <div class="mobile__navbar-container">
                <div class="logo">
                    <div class="logo__box">Y</div>
                    <div class="logo__text">Yash Bansod</div>
                </div>

                <div class="nav__container">
                    <nav>
                        <ul>
                            <li><a class="nav__link" href="#home">Home</a></li>
                            <li>
                                <a class="nav__link" href="#services"
                                    >Services</a
                                >
                            </li>
                            <li><a class="nav__link" href="#education">Education</a></li>
                            <li><a class="nav__link" href="#work">Work</a></li>
                        </ul>
                    </nav>

                    <a class="nav__contact-button" href="#contact"> contact</a>
                </div>

                <div id="close_icon" class="icon close__icon">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        style="fill: currentColor;transform: ;msFilter:;"
                        ><path
                            d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
                        ></path></svg
                    >
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    const menuIcon = document.querySelector("#menu_icon") as HTMLDivElement;
    const closeIcon = document.querySelector("#close_icon") as HTMLDivElement;

    const mobileNavbar = document.querySelector(
        "#mobile_nav",
    ) as HTMLDivElement;
    const navLinks = document.querySelectorAll(".nav__link") as NodeList;

    menuIcon.addEventListener("click", () => {
        mobileNavbar.classList.add("show__mobile-navbar");
    });

    closeIcon.addEventListener("click", () => {
        mobileNavbar.classList.remove("show__mobile-navbar");
    });

    navLinks.forEach((link: Node) => {
        (link as HTMLAnchorElement).addEventListener("click", () => {
            mobileNavbar.classList.remove("show__mobile-navbar");
        });
    });
</script>

<style lang="scss">
    header {
        display: flex;
        align-items: center;
        min-height: 8rem;
        // border-bottom: 1px solid var(--text-light);
        box-shadow: 0 2px 2px -2px var(--text-light);
    }

    .header__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 1rem;

        .logo__box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            background-color: var(--text);
            color: var(--background);
            font-weight: 700;
            font-size: 1.6rem;
            // border-radius: 50%;
            animation: animate-logo 2s ease-in-out infinite;

            //  Tablet
            @media (481px <= width <= 768px) {
                width: 4.6rem;
                height: 4.6rem;
                font-size: 2.4rem;
            }
        }

        .logo__text {
            font-size: 2.4rem;
        }
    }

    @keyframes animate-logo {
        0% {
            border-radius: 65% 35% 71% 29% / 21% 62% 38% 79%;
        }
        50% {
            border-radius: 40% 60% 39% 61% / 47% 43% 57% 53%;
        }
        100% {
            border-radius: 65% 35% 71% 29% / 21% 62% 38% 79%;
        }
    }

    .nav__container {
        display: none;
        align-items: center;
        gap: 4rem;

        // Laptop
        @media (769px <= width) {
            display: flex;
        }

        nav {
            ul {
                display: flex;
                gap: 2rem;

                li {
                    font-size: 1.6rem;
                    a {
                        color: var(--text-light);
                    }
                }
            }
        }
    }

    .nav__link {
        &:active {
            color: var(--text);
            text-decoration: underline;
        }
    }
    .nav__link-active {
        color: var(--text);
        text-decoration: underline;
    }

    .nav__contact-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        background-color: var(--text);
        color: var(--background);
    }

    .header__icon-container {
        display: flex;
        align-items: center;
        gap: 3rem;

        // Laptop
        @media (769px <= width) {
            display: none;
        }

        .menu__icon {
            background-color: var(--text);
            color: var(--background);
        }
    }

    .mobile__navbar {
        position: absolute;
        width: 100%;
        top: -100%;
        left: 0;
        z-index: 10;
        backdrop-filter: blur(4px);
        transition: all 0.3s ease-in-out;

        // Laptop
        @media (769px <= width) {
            display: none;
        }

        .mobile__navbar-container {
            position: relative;
            height: 100%;
            width: 100%;
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 4rem 0;
            gap: 4rem;

            .logo {
                flex-direction: column;
            }

            .nav__container {
                display: flex;
                flex-direction: column;

                ul {
                    flex-direction: column;
                    align-items: center;
                }
            }

            .close__icon {
                position: absolute;
                top: 1rem;
                right: 1rem;
            }
        }
    }

    .show__mobile-navbar {
        top: 0;
        bottom: 0;
    }
</style>
