---
import { siteConfig } from "@/config/site";
import { heroConfig } from "@/config/hero";
---

<section class="container hero" id="home">
    <div class="hero__info-container">
        <div class="hero__info-wrapper">
            <div class="hero__intro-wrapper">
                <p>
                    <b class="wave-hand">👋</b> Hello i'am <span
                        >{heroConfig.name}</span
                    >
                </p>
                <h1>Fullstack Developer</h1>
            </div>

            <p class="hero__intro-description">
                {heroConfig.description}
            </p>

            <div class="hero__button-wrapper">
                <a class="btn" href="">
                    Download CV
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        style="fill: currentColor;transform: ;msFilter:;"
                        ><path
                            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                        ></path></svg
                    >
                </a>
                <a
                    class="btn btn-outline"
                    href={siteConfig.gitHub}
                    target="_blank"
                >
                    Check Github
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        style="fill: currentColor;transform: ;msFilter:;"
                        ><path
                            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
                        ></path></svg
                    >
                </a>
            </div>
        </div>
    </div>
    <div class="hero__image-container">
        <div>
            <img src="/hero.jpg" alt="hero image" />
        </div>
    </div>
</section>

<style lang="scss">
    .hero {
        display: flex;
        flex-direction: column-reverse;
        padding: 4rem 0;
        gap: 4rem;
        align-items: center;
        // Laptop
        @media (769px <= width) {
            flex-direction: row;
            height: calc(100vh - 8rem);
            padding: 0;
            gap: 0;
        }
    }

    .hero__info-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .hero__info-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        // Laptop
        @media (769px <= width) {
            align-items: flex-start;
        }
    }

    .hero__intro-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

        // Laptop
        @media (769px <= width) {
            text-align: start;
        }

        p {
            font-size: 2.4rem;
            color: var(--text-light);

            span {
                color: var(--text);
                font-weight: bold;
                text-decoration: underline;
            }
        }

        h1 {
            font-size: 5.6rem;
        }
    }

    .wave-hand {
        display: inline-block;
        transform-origin: 70% 70%;
        animation: wave-animation 2.5s linear infinite;
    }

    .hero__intro-description {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 3rem;
        text-align: justify;
        width: 80vw;

        // Laptop
        @media (769px <= width) {
            width: 100%;
            text-align: start;
        }
    }

    .hero__button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        // Laptop
        @media (769px <= width) {
            gap: 4rem;
            flex-direction: row;
        }

        a {
            gap: 1rem;
            padding: 1.5rem 2.5rem;

            &:hover {
                svg {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .hero__image-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        // Laptop
        @media (769px <= width) {
            justify-content: flex-end;
        }

        div {
            width: 60%;
            border: 0.5rem solid var(--text);
            overflow: hidden;

            img {
                width: 100%;
                transition: 0.5s all ease-in-out;
                animation:
                    animate-image 2s linear infinite,
                    shake 20s ease-in 3s infinite;

                &:hover {
                    animation-play-state: paused;
                    transform: scale(1.04);
                }
            }
        }
    }

    @keyframes animate-image {
        0% {
            filter: grayscale(0);
        }
        50% {
            filter: grayscale(0.8);
        }
        100% {
            filter: grayscale(0);
        }
    }

    @keyframes wave-animation {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(14deg);
        }
        20% {
            transform: rotate(-8deg);
        }
        30% {
            transform: rotate(14deg);
        }
        40% {
            transform: rotate(-4deg);
        }
        50% {
            transform: rotate(10deg);
        }
        60% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }
        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }
        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }
        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }
        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }
        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }
        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }
        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }
        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }
        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }
        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }
</style>
