---
interface Props {
	title: string;
}

import "@fontsource/bai-jamjuree/400.css";
import "@fontsource/bai-jamjuree/500.css";
import "@fontsource/bai-jamjuree/600.css";
import "@fontsource/bai-jamjuree/700.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta
			name="viewport"
			content="width=device-width"
			initial-scale="1.0"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global lang="scss">
	:root {
		--background: #fafafa;
		--text: #000;
		--text-light: #555;
	}

	html.dark {
		--background: #000;
		--text: #fafafa;
		--text-light: rgba(225, 225, 225, 0.9);
	}

	/*

	@custom-media --mobile (width <= 480px);
	@custom-media --tablet (481px <= width <= 768px);
	@custom-media --laptop (769px <= width <= 1024px);
	@custom-media --desktop (1025 <= width <= 1200px);
	@custom-media --tv (width >= 1201px);

	//  Tablet 
	@media (481px <= width <= 768px) {
		background-color: aqua;
	}

	// Laptop
	@media (769px <= width <= 1024px) {
		background-color: red;
	}

	// Desktop
	@media (1025 <= width <= 1200px) {
		background-color: green;
	}

	// TV
	@media (width >= 1201px) {
		background-color: green;
	}
	*/

	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	a,
	button,
	input,
	select,
	textarea,
	:focus {
		outline: none;
	}

	a {
		text-decoration: none;
	}

	ul,
	ol {
		list-style: none;
	}

	html {
		font-size: 62.5%;
	}

	body {
		font-family: "Bai Jamjuree", sans-serif;
		color: var(--text);
		background-color: var(--background);
	}

	/* Utility Classes  */
	.container {
		width: 100vw;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 1rem;
		// Laptop
		@media (769px <= width) {
			padding: 0;
		}
	}

	.icon {
		width: 3.2rem;
		height: 3.2rem;
		display: flex;
		align-items: center;
		justify-content: center;

		//  Tablet
		@media (481px <= width <= 768px) {
			width: 4rem;
			height: 4rem;
		}
	}

	.btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		background-color: var(--text);
		color: var(--background);
		border: 0.1rem solid var(--background);
		font-size: 1.6rem;
		transition: transform 0.6s ease-in-out;

		&:hover {
			background-color: var(--background);
			color: var(--text);
			border: 0.1rem dotted var(--text);
		}
	}

	.btn-outline {
		background-color: var(--background);
		color: var(--text);
		border: 0.1rem solid var(--text);

		&:hover {
			background-color: var(--text);
			color: var(--background);
			border: 0.1rem solid var(--background);
		}
	}
</style>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.19.0/matter.min.js"
	integrity="sha512-0z8URjGET6GWnS1xcgiLBZBzoaS8BNlKayfZyQNKz4IRp+s7CKXx0yz7Eco2+TcwoeMBa5KMwmTX7Kus7Fa5Uw=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"></script>
<script is:inline>
	const getThemePreference = () => {
		if (
			typeof localStorage !== "undefined" &&
			localStorage.getItem("theme")
		) {
			return localStorage.getItem("theme");
		}
		return window.matchMedia("(prefers-color-scheme: dark)").matches
			? "dark"
			: "light";
	};
	const isDark = getThemePreference() === "dark";
	document.documentElement.classList[isDark ? "add" : "remove"]("dark");

	if (typeof localStorage !== "undefined") {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains("dark");
			localStorage.setItem("theme", isDark ? "dark" : "light");
		});
		observer.observe(document.documentElement, {
			attributes: true,
			attributeFilter: ["class"],
		});
	}
</script>
